html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  color: #777777;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-image: url("../images/gravel.png");
  font-size: x-large;
  min-height: 100%;
  line-height: 100%;
}

h2 {
  font-size: x-large;
  font-weight: bold;
}

nav {
  position: static;
  top: 0;
  left: 0;
  z-index: 1100;
  border-bottom: solid #ccc;
}

nav a {
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  text-decoration: none;
  background-color: none;
}

nav a:hover {
  color: white;
  background-color: #4aaaa5;
}

header {
  font-family: Georgia, "Times New Roman", Times, serif;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 8vh;
  border-top: solid thick #4aaaa5;
  background-color: #666;
  overflow: hidden;
}

footer p {
  position: absolute;
  bottom: 40%;
  right: 40%;
  color: white;
  font-size: x-small;
}
footer a {
  text-decoration: none;
  align-self: flex-end;
  color: white;
  margin: 1%;
  padding: 0% 3% 0% 3%;
}

footer a:hover {
  background-color: #4aaaa5;
}

img {
  float: left;
  width: auto;
  height: auto;
  margin: 2%;
}

input{
  padding: 1%;
}

#myImage {
  width: 84vw;
  height: auto;
  overflow: hidden;
}

#logo {
  font-size: x-large;
  font-weight: bold;
  padding: 5%;
  color: white;
  background-color: #4aaaa5;
}

#header-links {
  background-color: white;
  padding: 4% 2%;
}
#header-links a {
  font-size: medium;
  margin: 0 auto;
  padding: 0% 2%;
}

#header-links :nth-child(2) {
  border-left: solid thin lightgray;
  border-right: solid thin lightgray;
}

#section {
  text-align: left;
  color: black;
  background: #fff;
  height: auto;
  width: 86vw;
  margin: 0 auto;
  margin-top: 1vh;
  padding: 1vh 4vw 8vh 4vw;
  border: solid #ddd;
  flex: 1 0 auto;
  border-radius: 7px;
}

#section header h2 {
  text-align: left;
  color: #4aaaa5;
  padding: 5% 0%;
  border-bottom: solid lightgray;
}

#section section {
  display: flow-root;
  font-size: small;
  margin-top: 4vh;
}


#contact-form {
  margin-top: 1vh;
  font-size: medium;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: gray;
}

#message {
  height: 10vh;
}

#submit {
  margin: 2vh 0vw;
  color: white;
  float: left;
  width: fit-content;
  padding: 3% 6%;
  font-size: small;
  background-color: #4aaaa5;
}

.container {
  width: 100vw;
  margin: 0 auto;
}

.label {
  margin: 1% 0%;
}

.portfolio_images {
  position: relative;
  float: left;
  margin-bottom: 4vh;
  margin-right: 3vw;
  height: auto;
  width: 80vw;
}

.portfolio_images div {
  position: absolute;
  bottom: 10%;
  left: 2%;
  font-size: large;
  width: 100%;
  padding: 2% 0%;
  color: white;
  text-align: center;
  background-color: #4aaaa5;
}

.portfolio_images:hover {
  box-shadow: 10px 10px 8px teal;
}

.portfolio_images img {
  height: auto;
  width: 100%;
}

@media screen and (min-width: 768px) {
  
  html,
  body {
    display: flex;
    flex-direction: column;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 100%;
    background-image: url("../images/gravel.png");
    line-height: 2;
  }

  * {
    margin: 0;
    padding: 0;
  }

  h2 {
    font-weight: bold;
    font-size: xx-large;
  }

  nav {
    position: static;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1100;
    border-bottom: solid #ccc;
  }
  
  nav a {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    padding: 0% 2% 0 2%;
    text-decoration: none;
    background-color: white;
  }

  nav a:hover {
    color: white;
    background: #4aaaa5;
  }

  header {
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  p {
    margin-top: 1vh;
  }

  footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8vh;
    justify-content: center;
    border-top: solid thick #4aaaa5;
    background-color: #666;
    overflow: hidden;
  }

  footer p {
    text-align: center;
    position: absolute;
    bottom: 0;
    color: white;
    font-size: x-small;
  }
  footer a {
    text-decoration: none;
    align-self: flex-end;
    color: white;
    margin: 1%;
    padding: 0% 3% 0% 3%;
  }

  footer a:hover {
    background-color: #4aaaa5;
  }

  #myImage {
    float: left;
    width: 25%;
    height: 25%;
    margin-bottom: 1vh;
    margin-right: 1vw;
  }

  #logo {
    color: white;
    float: left;
    margin-left: 5vw;
    padding: 2vh 2vw 3vh 2vw;
    font-size: 20px;
    background-color: #4aaaa5;
  }

  #header-links {
    float: right;
    text-align: center;
    display: inline;
    margin-right: 5vw;
    margin-top: 1%;
    padding: 0;
    background: none;
    overflow: hidden;
  }
  #header-links a {
    padding: 0vh 2vw;
  }

  #header-links :nth-child(2) {
    border-left: solid thin lightgray;
    border-right: solid thin lightgray;
  }

  #section {
    text-align: left;
    color: black;
    background: #fff;
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 50vh;
    padding: 2%;
    border: solid #ddd;
    flex: 1 0 auto;
  }

  #section header h2 {
    text-align: left;
    color: #4aaaa5;
    padding: 1%;
    border-bottom: solid lightgray;
  }

  #section section {
    
    font-size: large;
    margin-top: 10px;
  }

  #contact-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: gray;
  }

  #message {
    height: 10vh;
  }

  #submit {
    margin-top: 1%;
    color: white;
    float: left;
    width: fit-content;
    padding: 1% 3% 1% 3%;
    font-size: 24;
    background-color: #4aaaa5;
  }

  .container {
    margin: 0 auto;
  }

  .label {
    margin-top: 1%;
  }

  .portfolio_images {
    position: relative;
    float: left;
    margin-bottom: 40px;
    margin-right: 30px;
    height: 200px;
    width: 200px;
  }

  .portfolio_images div {
    position: absolute;
    bottom: 10%;
    width: 200px;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #4aaaa5;
  }

  .portfolio_images:hover {
    box-shadow: 10px 10px 8px teal;
  }

  .portfolio_images img {
    height: auto;
    width: 100%;
  }
}


@media screen and (min-width: 960px){
  html,
  body {
    display: flex;
    flex-direction: column;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 100%;
    background-image: url("../images/gravel.png");
    line-height: 2;
  }

  * {
    margin: 0;
    padding: 0;
  }

  h2 {
    font-weight: bold;
    font-size: 24px;
  }
  
  
nav {
  position: static;
  top: 0;
  left: 0;
  z-index: 1100;
  border-bottom: solid #ccc;
} 

  nav a {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    padding: 0% 2% 0 2%;
    text-decoration: none;
    background-color: white;
  }

  nav a:hover {
    color: white;
    background: #4aaaa5;
  }

  header {
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  p {
    margin-top: 1vh;
  }

  footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8vh;
    justify-content: center;
    border-top: solid thick #4aaaa5;
    background-color: #666;
    overflow: hidden;
  }

  footer p {
    text-align: center;
    position: absolute;
    bottom: 0;
    color: white;
    font-size: x-small;
  }
  footer a {
    text-decoration: none;
    align-self: flex-end;
    color: white;
    margin: 1%;
    padding: 0% 3% 0% 3%;
  }

  footer a:hover {
    background-color: #4aaaa5;
  }

  #myImage {
    float: left;
    width: 25%;
    height: 25%;
    margin-bottom: 1vh;
    margin-right: 1vw;
  }

  #logo {
    color: white;
    float: left;
    padding: 2vh 2vw 3vh 2vw;
    font-size: 20px;
    background-color: #4aaaa5;
  }

  #header-links {
    float: right;
    text-align: center;
    display: inline;
    padding: 0;
    background: none;
    overflow: hidden;
  }
  #header-links a {
    padding: 0vh 2vw;
  }

  #header-links :nth-child(2) {
    border-left: solid thin lightgray;
    border-right: solid thin lightgray;
  }

  #section {
    position: absolute;
    width: 50%;
    left: 5vw;
    top: 10vh;
    border: solid #ddd;
  
  }

  #section header h2 {
    text-align: left;
    color: #4aaaa5;
    padding: 0% 0% 2% 0%;
    border-bottom: solid lightgray;
  }

  #section section {
    margin-top: 10px;
  }

  #contact-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: gray;
  }

  #message {
    height: 10vh;
  }

  #submit {
    margin-top: 1%;
    color: white;
    float: left;
    width: fit-content;
    padding: 1% 3% 1% 3%;
    font-size: 24;
    background-color: #4aaaa5;
  }

  .container {
    margin: 0 auto;
  }

  .label {
    margin-top: 1%;
  }

  .portfolio_images {
    position: relative;
    float: left;
    margin-bottom: 40px;
    margin-right: 30px;
    height: 200px;
    width: 200px;
  }

  .portfolio_images div {
    position: absolute;
    bottom: 10%;
    width: 200px;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #4aaaa5;
  }

  .portfolio_images:hover {
    box-shadow: 10px 10px 8px teal;
  }

  .portfolio_images img {
    height: auto;
    width: 100%;
  }
}
